<!DOCTYPE html>
<html>

<head>
  <title>build-a-blog!</title>
  <style>
    #nav {
      display: inline;
    }
  </style>

</head>
</body>
<h1>Coolest Blog Evar!</h1> {% if session['user'] %}
<p><a href='/logout'>Logout</a></p>

{% else %}
<p><a href='login'>Login</a></p>

{% endif %}
<p id='nav'><a href='/blog'>Main Blog Page</a></p>
<p id='nav'><a href='/newpost'>Add a Blog Entry</a> </p>
<p id='nav'><a href='/'>List Of Users</a></p>

{% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
</ul>

{% endif %} {% endwith %} {% block content %} {% endblock %}


</body>

</html>
